---
# Storage secret consumed by TempoStack. The http:// endpoint scheme tells
# the Tempo Operator this is an insecure (demo) S3 endpoint.
apiVersion: v1
kind: Secret
metadata:
  name: tempo-s3
  namespace: {{ observability_namespace }}
type: Opaque
stringData:
  endpoint: "http://minio.{{ observability_namespace }}.svc:9000"
  bucket: "{{ minio_bucket }}"
  access_key_id: "{{ minio_root_user }}"
  access_key_secret: "{{ minio_root_password }}"
